@media only screen and (min-device-width: 820px) {

/* LARGE */
	.hide-lg {
		display: none !important;
	}

	.container {
		width: 93.75%;
		max-width: 1003px;
	}
	.hero {
		.img-container {
			width: 80%;
			height: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.services {
		padding: 4em 0;
		position: relative;
		.service {
			width: calc(100% / 3);
			display: inline-block;
			float: left;
			margin-left: auto;
			margin-right: auto;

			.icon {

			}

			/*.text {
				p span {
					color: $black;
					font-weight: bold;
				}
			}*/

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1em;
				background: $gradient;
			}
		}
	}

	.row {

		.col:first-child {
			padding-right: 1em;
		}
		.col:nth-child(2) {
			padding-left: 1em;
		}
	}
	footer {
		margin-top: 8em;
	}

	/* ##########

	Services

	############*/
	.supporting-page__content {
		.services-page {

			.services-page__service { /* col */
				width: 100%;
				padding: 4em 0;

				.services-page__service--text {
					display: inline-block;
					float: left;
					width: 60%;
				}
				.services-page__service--img {
					display: inline-block;
					float: left;
					width: 40%;
				}
			}
		}
	}

}