/* browser-sync start --server --files "*.html, css/*.css" */
/* sass --watch main.scss:main.css */
* {
  box-sizing: border-box; }

body,
html {
  height: 100%; }

a {
  color: #5A5A5A;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #89fffd; }
  a:hover {
    border-bottom: 1px solid #ef32d9; }

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  letter-spacing: .2em; }
  h1 span,
  h2 span,
  h3 span {
    font-weight: 400;
    font-variant: small-caps; }

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: .15em;
  font-size: 1.2em; }
  p span {
    font-weight: 400;
    font-variant: small-caps; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.hero {
  width: 100%; }

.header {
  background-image: url("../img/Vesper_HealthCare_Marketing_White.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.services {
  background: #ef32d9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89fffd, #ef32d9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .services h1,
  .services p {
    color: white; }
  .services .service {
    width: 100%;
    text-align: center;
    padding: 10%; }
    .services .service .icon {
      margin: 4em 0; }

.parallax {
  /* The image used */
  background-image: url("../img/grad.jpg");
  /*background-image: url('../img/Vesper_HealthCare_Marketing_White.svg');*/
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-two {
  /* The image used */
  background-image: url("../img/Vesper_HealthCare_Marketing_Black_Outline.svg");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.clients {
  padding: 4em;
  text-align: center;
  /*background: $lightgrey;*/ }
  .clients .row .row--item__logo {
    float: none;
    width: 25%;
    display: table-cell;
    vertical-align: middle; }
    .clients .row .row--item__logo a {
      border-bottom: none; }
      .clients .row .row--item__logo a:hover {
        border-bottom: none; }
      .clients .row .row--item__logo a img {
        display: block;
        width: 100%;
        height: auto;
        padding: 4em;
        filter: grayscale(100%); }
        .clients .row .row--item__logo a img:hover {
          filter: grayscale(0%); }

footer {
  background: black;
  height: 100%;
  min-height: 400px;
  color: lightgrey;
  padding: 8em 0;
  text-align: center; }
  footer a {
    color: lightgrey; }
  footer p {
    font-size: .75em; }
  footer .footer-col {
    display: inline-block;
    float: left;
    width: calc(100% / 3); }

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
  p {
    font-weight: 400; }

  .header {
    background-image: url("../img/Vesper_HealthCare_Marketing_White_Outline_MOBILE.svg");
    height: 50vh;
    width: 100vw;
    padding: 20vh 0; }

  .parallax,
  .parallax-two {
    /*background-attachment: scroll;
    height: 50vh;
		width: 100vw;
		padding: 20vh 0;*/
    display: none; }

  .parallax {
    background-image: url("../img/Vesper_HealthCare_Marketing_White_Outline_MOBILE.svg"); }

  .parallax-two {
    background-image: url("../img/Vesper_HealthCare_Marketing_Black_Outline_MOBILE.svg"); }

  .clients {
    width: 100vw;
    overflow: auto;
    padding: 2em 0; }
    .clients .row {
      width: 100%;
      overflow: auto; }
      .clients .row .row--item__logo {
        display: inline-block !important;
        float: left !important;
        width: 50%; }
        .clients .row .row--item__logo a {
          display: inline-block !important;
          float: left !important; }
          .clients .row .row--item__logo a img {
            display: inline-block !important;
            width: 100% !important;
            height: auto;
            padding: 2em !important; }

  footer {
    height: 100%; }
    footer .footer-col {
      display: inline-block;
      float: left;
      width: 100%;
      text-align: center; } }
@media only screen and (min-device-width: 820px) {
  .services .service {
    width: 70%;
    margin-left: auto;
    margin-right: auto; } }

/*# sourceMappingURL=main.css.map */
