/* browser-sync start --server --files "*.html, css/*.css" */
/* sass --watch main.scss:main.css */
/* CMYK 10 10 0 90 */
* {
  box-sizing: border-box; }

body,
html {
  font-size: 16px;
  height: 100%; }

a {
  color: #191719;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #89fffd; }

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1.9em;
  letter-spacing: .2em;
  color: #191719; }
  h1 span,
  h2 span,
  h3 span {
    /*font-weight: 400;
    font-variant: small-caps;*/ }

p,
li {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: .15em;
  font-size: 1.2em;
  color: #191719; }
  p span,
  li span {
    /*font-weight: 400;
    font-variant: small-caps;*/ }

.hide {
  display: none; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.hero {
  width: 100%;
  position: relative;
  /*  &::before {
    	content: "";
    	position: absolute;
    	height: 100%;
    	width: 100%;
    	top: 0;
    	left: 0;
    	background: rgba(10,10,10,.5);
    }*/ }
  .hero .img-container {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; }
    .hero .img-container img {
      width: 100%;
      height: auto; }
  .hero .header-band-top,
  .hero .header-band {
    position: absolute;
    height: 8em;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #d3d3d3;
    /*		background: -webkit-linear-gradient(to right, $aqua, $purple);
    		background: linear-gradient(to right, $aqua, $purple);*/ }
  .hero .header-band-top {
    top: 0; }
  .hero .about {
    background: #d3d3d3; }

.services {
  overflow: auto;
  position: relative;
  background: white; }
  .services h1,
  .services p {
    color: #191719; }
  .services .service {
    width: 100%;
    text-align: center;
    padding: 4em;
    /*.text {
    	p span {
    		color: $purple;
    		font-weight: bold;
    	}
    }*/ }
    .services .service .icon {
      margin: 3em 0; }
      .services .service .icon img {
        width: 100%;
        height: auto; }

.parallax {
  /* The image used */
  /*background-image: url('../img/grad.jpg');*/
  /*		background-image: url('../img/Vesper_HealthCare_Marketing_White_RGB.svg');
  */
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-about {
  /* The image used */
  /*background-image: url('../img/grad.jpg');*/
  /*background-image: url('../img/ECG_BG.svg');*/
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.clients {
  padding: 4em;
  text-align: center;
  background: #d3d3d3; }
  .clients .row {
    clear: both;
    display: inline-flex; }
    .clients .row .row--item__logo {
      float: none;
      width: 25%;
      display: table-cell;
      vertical-align: middle; }
      .clients .row .row--item__logo a {
        border-bottom: none; }
        .clients .row .row--item__logo a:hover {
          border-bottom: none; }
        .clients .row .row--item__logo a img {
          display: block;
          width: 100%;
          height: auto;
          padding: 4em;
          filter: grayscale(100%); }
          .clients .row .row--item__logo a img:hover {
            filter: grayscale(0%); }

footer {
  background: #191719;
  height: 100%;
  min-height: 400px;
  color: #d3d3d3;
  padding: 8em 0;
  text-align: center; }
  footer a {
    font-size: 1.25em;
    color: #d3d3d3;
    display: inline-block;
    border-bottom: none; }
  footer a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .3s ease, background-color .3s ease; }
  footer a:hover:after {
    width: 100%;
    background: #ef32d9; }
  footer h1 {
    color: #d3d3d3; }
  footer p {
    font-size: .75em; }
  footer .footer-col {
    display: inline-block;
    float: left;
    width: calc(100% / 3); }

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
  p {
    font-weight: 400; }

  .parallax-two {
    background-image: url("../img/Vesper_HealthCare_Marketing_Black_Outline_MOBILE.svg"); }

  .clients {
    width: 100vw;
    overflow: auto;
    padding: 2em 0; }
    .clients .row {
      width: 100%;
      overflow: auto; }
      .clients .row .row--item__logo {
        display: inline-block !important;
        float: left !important;
        width: 100%; }
        .clients .row .row--item__logo a {
          display: inline-block !important;
          float: left !important; }
          .clients .row .row--item__logo a img {
            display: inline-block !important;
            width: 100% !important;
            height: auto;
            padding: 2em !important; }

  footer {
    height: 100%; }
    footer .footer-col {
      display: inline-block;
      float: left;
      width: 100%;
      text-align: center; } }
video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  filter: grayscale(100%); }

/* Icon 3 */
.icon-three {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 6.25em;
  height: 5.5em;
  cursor: pointer; }

.hamburger {
  top: 50%;
  left: 25%;
  width: 2.5em;
  height: .25em;
  background: #ef32d9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89fffd, #ef32d9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.4);
  transition: 0.5s; }

.hamburger:before {
  top: -1em; }

.hamburger:after {
  top: 1em; }

.hamburger-three:before,
.hamburger-three:after {
  content: '';
  position: absolute;
  width: 2.5em;
  height: .25em;
  background: #ef32d9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89fffd, #ef32d9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.4);
  transition: 0.5s; }

.icon-three.active-three .hamburger-three {
  background: transparent;
  box-shadow: 0 0.125em 0.3125em transparent; }

.icon-three.active-three .hamburger-three:before {
  top: 0;
  transform: rotate(135deg); }

.icon-three.active-three .hamburger-three:after {
  top: 0;
  transform: rotate(225deg);
  box-shadow: 0 -0.125em 0.3125em rgba(0, 0, 0, 0.4); }

.hide.body-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #191719;
  background: #89fffd; }
  .hide.body-menu ul {
    list-style-type: none;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%; }
    .hide.body-menu ul li {
      margin: .5em 0;
      font-size: 2em;
      text-align: center;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%; }
      .hide.body-menu ul li:hover {
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
        /*        -webkit-transform: translateX(8px);
                transform: translateX(8px);*/ }
      .hide.body-menu ul li a {
        display: inline-block;
        border-bottom: none; }
      .hide.body-menu ul li a:after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background: transparent;
        transition: width .3s ease, background-color .3s ease; }
      .hide.body-menu ul li a:hover:after {
        width: 100%;
        background: #ef32d9; }

@media only screen and (max-device-width: 569px) {
  .icon-three {
    font-size: .5em; }

  .hide-sm {
    display: none !important; }

  h1 {
    font-weight: 400; }

  .container {
    width: 100%; }

  .hero {
    /*background-image: url('../img/beach2.jpg');*/
    background: white;
    display: flex;
    vertical-align: middle;
    border-bottom: 4em solid #d3d3d3; }
    .hero .img-container {
      padding: 4em 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }

  .service {
    border-bottom: 2em solid #89fffd; } }
@media only screen and (min-device-width: 570px) and (max-device-width: 694px) {
  /* ####    INBETWEEN     #### */
  .icon-three {
    font-size: .5em; }

  .hide-sm {
    display: none; }

  h1 {
    font-weight: 200; }

  .hero {
    /*background-image: url('../img/beach2.jpg');*/
    background: white;
    display: flex;
    vertical-align: middle;
    border-bottom: 4em solid #d3d3d3; }
    .hero .img-container {
      padding: 4em 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }

  .container {
    width: 100%; }

  .service {
    border-bottom: 2em solid #89fffd; } }
@media only screen and (min-device-width: 695px) and (max-device-width: 819px) {
  /* ####    MEDIUM     #### */
  .icon-three {
    font-size: .75em; }

  .hide-sm {
    display: none; }

  h1 {
    font-weight: 200; }

  .hero {
    /*background-image: url('../img/beach2.jpg');*/
    background: white;
    display: flex;
    vertical-align: middle;
    border-bottom: 4em solid #d3d3d3; }
    .hero .img-container {
      padding: 4em 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }

  .container {
    width: 100%; }

  .service {
    border-bottom: 2em solid #89fffd; } }
@media only screen and (min-device-width: 820px) {
  /* LARGE */
  .hide-lg {
    display: none; }

  .hero .img-container {
    width: 80%;
    height: 100%; }

  .services {
    padding: 2em 0;
    /*.service:hover .text p span {
    	color: $purple !important;
    	}
    .service:hover .text p .aqua {
    	color: $aqua !important;
    }*/ }
    .services .service {
      width: calc(100% / 3);
      display: inline-block;
      float: left;
      margin-left: auto;
      margin-right: auto;
      /*.text {
      	p span {
      		color: $black;
      		font-weight: bold;
      	}
      }*/ }

  footer {
    margin-top: 8em; } }

/*# sourceMappingURL=main.css.map */
