@media only screen and (max-device-width : 569px) {

	.icon-three {
		font-size: .5em;
	}

	.hide-sm {
		display: none !important;
	}

	h1 {
		font-weight: 400;
	}
	.container {
		width: 100%;
	}
	.hero {
		/*background-image: url('../img/beach2.jpg');*/
		background: $white;

		height: 60vh;
		display: flex;
		vertical-align: middle;
		border-bottom: 2em solid $purple;
		.img-container {
			padding: 4em 0;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.service {
		border-bottom: 2em solid $service-border;
	}
}