@media only screen and (max-device-width : 569px) {

	.icon-three {
		font-size: .5em;
	}

	.hide-sm {
		display: none !important;
	}

	h1 {
		font-weight: 100;
	}
	.container {
		width: 90%;
	}
	.hero {
		/*background-image: url('../img/beach2.jpg');*/
		background: $white;

		display: flex;
		vertical-align: middle;
		border-bottom: 4em solid $lightgrey;
		.img-container {
			padding: 4em 0;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}

	}
	.service {
		border-bottom: 2em solid $service-border;
	}

	.about-content {
		padding: 2em 0;
		.row {

			.col {
				width: 100%;
			}
		}
	}
}