@media only screen and (max-device-width : 569px) {

	.icon-three {
		font-size: .65em;
	}

	.hide-sm {
		display: none !important;
	}

	h1 {
		font-weight: 100;
	}
	.container {
		width: 93.75%;
		max-width: 300px;
	}
	.hero {
		/*background-image: url('../img/beach2.jpg');*/
		background: $white;

		display: flex;
		vertical-align: middle;
		border-bottom: 4em solid $lightgrey;
		.img-container {
			padding: 4em 0;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}

	}
	.service {
		border-bottom: 2em solid $service-border;
	}

	.clients {
		width: 100%;
		padding: 2em 0;
		.row {
			width: 100%;
			.row--item__logo {
				display: inline-block !important;
				float: left;
				width: 50%;

				a {
		    	display: inline-block !important;
		    	float: left !important;
		      img {
		        display: inline-block !important;
		        width: 100% !important;
		        height: auto;
		      }
		    }
			}
		}
	}

	footer {
  	height: 100%;
	  .footer-col {
			display: inline-block;
			float: left;
			width: 100%;

			text-align: center;
		}
	}
/*
	 ###########
		ABOUT
	 ###########
*/
	.about-content {
		padding: 4em 0;
		.row {
			width: 90%;
			.col {
				width: 100%;
			}
		}
	}
}